/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
.container {
  padding: 10%;
}
.sub_title {
  color: #fff;
}
nav {
  top: 0;
  position: fixed;
  background: #1c2e4a;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li :first-child {
margin-left: 0px;
}
.menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color:black;
}
body {
  background-image: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.75)), url('/static/IMAGES USED/numbers.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative; 
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.center .btn {
  margin-top: 20px;
}
.title {
  color: #fff;
}
.center .btn button {
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
background: white;
color: black;
}
.center .btns button:last-child{
background: white;
color: black;
}
.footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  background: #1c2e4a;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.login {
  height: 520px;
  width: 400px;
  background-color: #152238;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px #08071099;
  padding: 50px 35px;
}
.login *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.login h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label{
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}
::placeholder{
    color: #e5e5e5;
}

.signup {
  width: 20%;
  height: 60%;
  box-sizing: content-box;
  background-color: #152238;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px #08071099;
  padding: 3% 2%;
}
.signup *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
.signup h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: #ffffff12;
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
.lgnbtn {
    margin-top: 20px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.category-container {
  background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.75));
  top: 0%;
  left: 15%;
  bottom: 0%;
  height: 200vh;
  text-align: center;
  width: 70%;
  position: absolute;
  border-radius: 2%;
  display: grid;
  grid-template-columns: auto auto auto;
}
.category-box {
  width: 250px;
  height: 80px;
  padding: 20px;
  margin: 25%;
  border-radius: 9px;
  border: 2px solid #fff;
  background: #1F3442;
  margin-top: 80px;
  text-align: center;
}
.category-box h2 {
  color: #fff;
  text-decoration: none;
}
.challenge-container {
  background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.75));
  top: 0%;
  left: 15%;
  bottom: 0%;
  height: 200vh;
  text-align: center;
  width: 70%;
  position: absolute;
  border-radius: 2%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.challenge-box {
  width: 250px;
  height: 80px;
  padding: 20px;
  margin-left: 15%;
  border-radius: 9px;
  border: 2px solid #fff;
  background: #1F3442;
  margin-top: 80px;
  text-align: center;
}
.challenge-hint {
  padding: 20px;
  background-color: #1c2e4a;
  border-radius: 2px;
  border: 2px solid #fff;
  color: white;
}
